.gustos-grilla {
    margin-top:10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: center;	
}
.gustos-grilla > div {
    background: #EDE7F6;
    padding: 10px;
    height:120px;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
}
.gustos-scroller{
    
}