/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
  height: 100vh;
  height: auto;
}
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }

 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

 button,
 input { /* 1 */
   overflow: visible;
 }

 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

 button,
 select { /* 1 */
   text-transform: none;
 }

 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */

 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

.fondo {
    position: absolute;
    background-color: #008ff7;
    width: 100%;
    height: 300px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    z-index: -1;
}

.no-margin {
    margin: 0!important;
}

.titulo {
    font-size: 2em;
    color: #FFF;
}

.subtitulo {
    color: #FFF;
}

.full-width  {
    width: 100%;
}

